<% include ../admin-header.ejs %>

<div class="clearfix">
	<h3 class="title float-left">학생관리</h3>
	 <div class="search-con float-right">
		<div class="search-text">
			<div class="form-group">
		        <input class="form-control" type="text" id="user_name" onclick="adminSearch()" placeholder="검색어를 입력해주세요."></input>
		    </div>
	        <input class="btn btn-search" type="button" value="검색">
	    </div>
	</div>
</div>

<div class="table-responsive">
	<table class="table-style4" id="dataTable">
		<thead>
			<tr>
				<th>학번</th>
				<th>이름</th>
				<th>전공</th>
				<th>생년월일</th>                    
				<!-- <th>이메일</th> -->
				<th>블록체인ID</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<% stulist.forEach(function(stulist){ %>
				<tr>
					<td>
						<%= stulist.user_id %>
					</td>
					<td><%=stulist.user_name %></td>
					<td>
						<%= stulist.major %>
					</td>
					<td><%=stulist.user_birth%></td>
					<!-- <td><%=stulist.user_email %></td> -->
					<td><%= stulist.blockchainid %></td>
					<td>
						<a href="/admin/adminstudentlist/delete/<%=stulist.id %>" class="btn btn-md btn-border btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
					</td>
				</tr>
			<% }); %>
		</tbody>
	</table>
</div>

<p class="total-txt">Total : 20건 중, 20건 조회</p>

<!-- S: pagination -->
<div class="pagination-wrap">
	<ul class="pagination">
		<li class="pagination-prev">
			<a href="<%= paginate.href(true) %>" aria-label="Previous"></a>
		</li>
		<% pages.forEach(function(page){ %>
		<li class="<%= paginate.page == page.number ? 'active' : ''%>">
			<a href="<%= page.url %>"><%= page.number %></a>
		</li>
		<%})%> <%if(paginate.hasNextPages(pageCount)){%>
		<li class="pagination-next">
			<a href="<%= paginate.href() %>"></a>
		</li>
		<%}%>
	</ul>
</div>
<!-- E: pagination -->
    
<!-- Bootstrap core JavaScript-->
<!-- Custom scripts for this page-->
<!-- <script src="../../../public/js/sb-admin-datatables.min.js"></script> -->
<script type="text/javascript">
$(function(){
	$('.lnb').each(function(){
		$('.lnb>ul>li').removeClass('on');
		$('.lnb>ul>li:nth-child(2)').addClass('on');
	});
});
</script>

<% include ../admin-footer.ejs %>