<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv=content-type>
	<meta name=generator content="mshtml 8.00.6001.18852">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title> attend </title>
	<link rel="shortcut icon" href="http://www.3ksoftware.com/favicon.ico"/>
	<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/soaxml_webformReset.css" rel="stylesheet"  media="screen"/>
	<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/uniform.default.css" rel="stylesheet" media="screen" />
	<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/jquery-ui.1.10.3.smoothness.css" rel="stylesheet" media="screen" />
	<style></style>
<style>
.circles { border-radius:50%; background-color: lightgrey; }
</style>

	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxControl.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxCommon.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery-ui.1.10.3.min.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery.uniform.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery.timepicker.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jSignature.custom.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			$("input, textarea, select, button").uniform();
$( ".bxTimePicker" ).timepicker({ 'scrollDefaultNow': true });
		});
	</script>
	<script type="text/javascript">
		function basexml_checktype() {
		}
	</script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxFormForMongo.js"></script>
</head>
<body>
<form name="attend">
	<textarea id="calXMLcontent" name="calXMLcontent" style="display:none"></textarea>
	<textarea id="inXMLcontent" name="inXMLcontent" style="display:none"></textarea>
	<textarea id="calTextcontent" name="calTextcontent" style="display:none"></textarea>
	<textarea id="outXMLcontent" name="outXMLcontent" style="display:none"></textarea>
	<textarea id="outXMLurl" name="outXMLurl" style="display:none"></textarea>
	<input type="hidden" name="xmlFileLink" id="xmlFileLink" value=""/>
	<input type="hidden" name="title" id="title" value="attend"/>
	<input type="hidden" name="savefilepath" value="">
	<input type="hidden" name="imagesavepath" value="">
	<input type="hidden" name="imagematchinfo" value="">
	<input type="hidden" name="H_DownloadFilePath" value="">
	<input type="hidden" name="DownloadFilePath" value="">
	<input type="hidden" name="H_root/contents/name" value=""/>
<input type="hidden" name="H_root/contents/birthday" value=""/>
<input type="hidden" name="H_root/contents/name_of_university" value=""/>
<input type="hidden" name="H_root/contents/department" value=""/>
<input type="hidden" name="H_root/contents/class_of" value=""/>
<input type="hidden" name="H_root/contents/date" value=""/>
<P>
<TABLE id=9 style="WIDTH: 96%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=1>
<COLGROUP>
<COL width=700>
</COL>
</COLGROUP>
<TBODY id=9>
<TR>
<TD>
<P>
<TABLE id=20190523_160414 style="HEIGHT: 0px; WIDTH: 92%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<COL>
</COL>
</COLGROUP>
<TBODY id=10>
<TR style="HEIGHT: 30px">
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR>
<TD>
<P>
<SPAN style="FONT-SIZE: 9pt">
</SPAN>
</P>
</TD>
</TR>
<TR style="HEIGHT: 15px">
<TD>
</TD>
</TR>
<TR>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 22pt">
<STRONG>
<SPAN style="FONT-SIZE: 16pt">재 학 증 명 서
</SPAN>
</STRONG>
</SPAN>
</P>
</TD>
</TR>
<TR style="HEIGHT: 30px">
<TD>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
<P>
<TABLE id=20190603_182418 style="WIDTH: 92%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<COL width="7%">
</COL>
<COL width="26%">
</COL>
<COL width="2%">
</COL>
<COL width="58%">
</COL>
<COL width="7%">
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">
<STRONG>
<SPAN style="FONT-SIZE: 10pt">성&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 명
</SPAN>
</STRONG>
</SPAN>
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>
<INPUT style="WIDTH: 75%; border: none;" name=root/contents/name value="<%=user.user_name%>" readonly>
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR style="HEIGHT: 10px">
<TD colSpan=4>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
<P align=center>
<STRONG>
<SPAN style="FONT-SIZE: 10pt">생년월일
</SPAN>
</STRONG>
</P>
</TD>
<TD>
</TD>
<TD>
<INPUT style="WIDTH: 75%;  border: none;" name=root/contents/birthday value="<%=user.user_birth%>" readonly>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 10px">
<TD colSpan=5>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">
<STRONG>
<SPAN style="FONT-SIZE: 10pt">대&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 학
</SPAN>
</STRONG>
</SPAN>
</P>
</TD>
<TD>
</TD>
<TD>
<INPUT style="WIDTH: 75%; border: none;" name=root/contents/name_of_university value="<%=user.major%>" readonly>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 10px">
<TD colSpan=5>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">
<STRONG>
<SPAN style="FONT-SIZE: 10pt">학과(학부)
</SPAN>
</STRONG>
</SPAN>
</P>
</TD>
<TD>
</TD>
<TD>
<INPUT style="WIDTH: 75%; border: none;" name=root/contents/department value="<%=user.major%>" readonly>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 10px">
<TD colSpan=5>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 9pt">
<STRONG>
<SPAN style="FONT-SIZE: 10pt">학&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 년
</SPAN>
</STRONG>
</SPAN>
</P>
</TD>
<TD>
</TD>
<TD>
<INPUT style="WIDTH: 75% ; border: none;" name=root/contents/class_of value="3학년" readonly>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 30px">
<TD colSpan=5>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
<TABLE id=4 style="WIDTH: 92%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<COL width="100%">
</COL>
</COLGROUP>
<TBODY id=3>
<TR>
<TD>
<P align=center>
<STRONG>
<SPAN style="FONT-SIZE: 9pt">학적원부에 의하여 위 사실을 증명함.
</SPAN>
</STRONG>
</P>
</TD>
</TR>
<TR style="HEIGHT: 25px">
<TD>
</TD>
</TR>
<TR>
<TD>
<P align=center>
<INPUT style="WIDTH: 30%; border: none;"  name=root/contents/date id="acceptDate">
</P>
</TD>
</TR>
<TR style="HEIGHT: 25px">
<TD>
</TD>
</TR>
<TR style="HEIGHT: 0px">
<TD>
<P align=right>
<TABLE style="HEIGHT: 100px; WIDTH: 120px" borderColor=#c0c0c0 cellSpacing=0 cellPadding=1 align=right border=0>
<COLGROUP>
<COL>
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD>
<P align=center>
<IMG src="http://www.uccxml.com/SOAXML/XCMS/sys/client/kr/usr/kura71/uploads/images/Image/dojang_signature.jpg" width=115 height=95>
</P>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
</TD>
</TR>
<TR style="HEIGHT: 25px">
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 12pt">
<STRONG>
</STRONG>
</SPAN>&nbsp;
</P>
</TD>
</TR>
<TR>
<TD>
<P align=center>
<SPAN style="FONT-SIZE: 12pt">
<STRONG>3K 대학교 교무차장
</STRONG>
</SPAN>
</P>
</TD>
</TR>
</TBODY>
</TABLE>
<P>&nbsp;
</P>
<P>&nbsp;
</P>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
	<div class="docBtn_list">
		<input type="button" value="발급" onclick="certiAccept(<%=txInfo.seq%>, '<%=txInfo.file_name%>');" /> &#160;
		<!-- <input type="button" value="List" onclick="javascript:bxfXmlListMongodb();" /> &#160;
		<input type="button" value="Search" onclick="javascript:bxfXmlSearchMongodb();" /> -->
	</div>
</form>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/sys/lib/bxComponent/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/sys/lib/bxComponent/bxComponent.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		loaded('/accounts/attend.xml');
	});
</script>
<script LANGUAGE="JavaScript" FOR="XMLfile" EVENT="XMLdown(lFile)">
	if(lFile != "" ) {
		document.forms[0].outXMLcontent.value=lFile;
		document.title=lFile;
	}
</script>
<script LANGUAGE="JScript" FOR="XMLfile" EVENT="XMLupdate(lFile)">
	if(lFile != "" ) {
		bxfXmlDisplay(lFile);
	}
</script>
</body>
</html>

<script>
	//증명서 명 셋팅, 현재날짜 셋팅
	function pad(n, width) {
		n = n.toString();//string 변환
		return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
	}

	var date = new Date();
	$('#acceptDate').val(
		date.getFullYear()+'-'+
		pad(date.getMonth()+1,2)+'-'+
		pad(date.getDate(),2)
	);
</script>
<% include ../SC_import.ejs %>
