<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv=content-type>
	<meta name=generator content="mshtml 8.00.6001.18852">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title> graduate </title>
	<link rel="shortcut icon" href="http://www.3ksoftware.com/favicon.ico"/>
	<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/soaxml_webformReset.css" rel="stylesheet"  media="screen"/>
	<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/uniform.default.css" rel="stylesheet" media="screen" />
	<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/jquery-ui.1.10.3.smoothness.css" rel="stylesheet" media="screen" />
	<style></style>
<style>
.texts { background-color: rgba( 255, 255, 255, 0.5 ); }
.inputs { font-size: 10pt }
</style>

	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxControl.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxCommon.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery-ui.1.10.3.min.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery.uniform.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery.timepicker.js"></script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jSignature.custom.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			$("input, textarea, select, button").uniform();
$( ".bxTimePicker" ).timepicker({ 'scrollDefaultNow': true });
		});
	</script>
	<script type="text/javascript">
		function basexml_checktype() {
		}
	</script>
	<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxFormForMongo.js"></script>
</head>
<body>
<form name="graduate">
	<textarea id="calXMLcontent" name="calXMLcontent" style="display:none"></textarea>
	<textarea id="inXMLcontent" name="inXMLcontent" style="display:none"></textarea>
	<textarea id="calTextcontent" name="calTextcontent" style="display:none"></textarea>
	<textarea id="outXMLcontent" name="outXMLcontent" style="display:none"></textarea>
	<textarea id="outXMLurl" name="outXMLurl" style="display:none"></textarea>
	<input type="hidden" name="xmlFileLink" id="xmlFileLink" value=""/>
	<input type="hidden" name="title" id="title" value="graduate"/>
	<input type="hidden" name="savefilepath" value="">
	<input type="hidden" name="imagesavepath" value="">
	<input type="hidden" name="imagematchinfo" value="">
	<input type="hidden" name="H_DownloadFilePath" value="">
	<input type="hidden" name="DownloadFilePath" value="">
	<input type="hidden" name="H_root/contents/name" value=""/>
<input type="hidden" name="H_root/contents/registration_num" value=""/>
<input type="hidden" name="H_root/contents/department/major" value=""/>
<input type="hidden" name="H_root/contents/degree" value=""/>
<input type="hidden" name="H_root/contents/graduation_date" value=""/>
<input type="hidden" name="H_root/contents/degree_num" value=""/>
<input type="hidden" name="H_root/contents/date" value=""/>
<P>
<TABLE id=1 style="WIDTH: 98%" borderColor=#000000 cellSpacing=0 cellPadding=5 align=center border=2>
<COLGROUP>
<COL width=700>
</COL>
</COLGROUP>
<TBODY id=1>
<TR>
<TD>
<P>
<TABLE style="WIDTH: 100%" borderColor=#e0e0e0 cellSpacing=0 cellPadding=3 align=center border=1>
<COLGROUP>
<COL>
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD style="BACKGROUND-IMAGE: url(http://www.uccxml.com/SOAXML/XCMS/sys/client/kr/usr/kura71/uploads/images/Image/Ethereumlogo.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center" bgColor=#ffffff>
<P>
<TABLE id=20190531_192027 class=texts style="WIDTH: 100%" borderColor=#000000 cellSpacing=0 cellPadding=3 align=center border=0>
<COLGROUP>
<COL width="7%">
</COL>
<COL width="43%">
</COL>
<COL width="43%">
</COL>
<COL width="7%">
</COL>
</COLGROUP>
<TBODY>
<TR style="HEIGHT: 25px">
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD colSpan=2>
<P align=center>
<STRONG>
<SPAN style="FONT-SIZE: 16pt">졸&nbsp; 업&nbsp; 증 &nbsp;명 &nbsp;서
</SPAN>
</STRONG>
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR style="HEIGHT: 35px">
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD colSpan=2>
<SPAN style="FONT-SIZE: 10pt">
<STRONG>성명 :
<INPUT class=inputs style="WIDTH: 50%; border:none" readonly name=root/contents/name value="<%=user.user_name%>">
</STRONG>
</SPAN>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR style="HEIGHT: 4px">
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD colSpan=2>
<P>
<SPAN style="FONT-SIZE: 10pt">
<STRONG>생년월일 :
<INPUT class=inputs style="WIDTH: 50%; border:none" readonly name=root/contents/registration_num value="<%=user.user_birth%>">
</STRONG>
</SPAN>
</P>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR style="HEIGHT: 4px">
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD colSpan=2>
<SPAN style="FONT-SIZE: 10pt">
<STRONG>학과/전공 :
<INPUT class=inputs style="WIDTH: 50%; border:none" readonly name=root/contents/department/major value="<%=user.major%>">
</STRONG>
</SPAN>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
<P>&nbsp;
</P>
</TD>
<TD colSpan=2>
<SPAN style="FONT-SIZE: 10pt">
<STRONG>학위 :
<INPUT class=inputs style="WIDTH: 50%; border:none" readonly name=root/contents/degree value='학사'>
</STRONG>
</SPAN>
</TD>
<TD>
<P>&nbsp;
</P>
</TD>
</TR>
<TR style="HEIGHT: 4px">
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD colSpan=2>
<SPAN style="FONT-SIZE: 10pt">
<STRONG>졸업일자 :&nbsp;
<INPUT class=inputs style="WIDTH: 50%; border:none" readonly name=root/contents/graduation_date value='2019-02'>
</STRONG>
</SPAN>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 4px">
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD colSpan=2>
<SPAN style="FONT-SIZE: 10pt">
<STRONG>학위등록번호 :&nbsp;
<INPUT class=inputs style="WIDTH: 50%; border:none" readonly name=root/contents/degree_num value="1882-1호">
</STRONG>
</SPAN>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 30px">
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD colSpan=2>
<P align=center>
<SPAN style="FONT-SIZE: 10pt">위의 사실을 증명 합니다.
</SPAN>
</P>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 10px">
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD colSpan=2>
<P align=center>
<INPUT class=inputs style="WIDTH: 35%; border:none" readonly  name=root/contents/date id="acceptDate">
</P>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 15px">
<TD>
</TD>
<TD colSpan=2>
<P align=center>&nbsp;
</P>
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD>
<P>&nbsp;
</P>
<P>&nbsp;
</P>
<P>&nbsp;
</P>
<P>&nbsp;
</P>
<P>&nbsp;
</P>
<P>&nbsp;
</P>
<P>&nbsp;
</P>
</TD>
<TD>
<P align=center>&nbsp;
</P>
<TABLE style="HEIGHT: 85px; WIDTH: 100px" borderColor=#000000 cellSpacing=0 cellPadding=1 align=center border=0>
<COLGROUP>
<COL>
</COL>
</COLGROUP>
<TBODY>
<TR>
<TD>
<P align=center>
<IMG src="http://www.uccxml.com/SOAXML/XCMS/sys/client/kr/usr/kura71/uploads/images/Image/dojang_signature.jpg" width=95 height=80>
</P>
</TD>
</TR>
</TBODY>
</TABLE>&nbsp;
</TD>
<TD>
</TD>
</TR>
<TR>
<TD>
</TD>
<TD colSpan=2>
<P align=center>
<STRONG>
<SPAN style="FONT-SIZE: 16pt">3K BICAS 대학교 총장
</SPAN>
</STRONG>
</P>
</TD>
<TD>
</TD>
</TR>
<TR style="HEIGHT: 25px">
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
<TD>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
</TD>
</TR>
</TBODY>
</TABLE>
</P>
	<div class="docBtn_list">
		<input type="button" value="승인" onclick="certiAccept(<%=txInfo.seq%>, '<%=txInfo.file_name%>');" /> &#160;
		<!-- <input type="button" value="List" onclick="javascript:bxfXmlListMongodb();" /> &#160;
		<input type="button" value="Search" onclick="javascript:bxfXmlSearchMongodb();" /> -->
	</div>
</form>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/sys/lib/bxComponent/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/sys/lib/bxComponent/bxComponent.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		loaded('/accounts/graduate.xml');
	});
</script>
<script LANGUAGE="JavaScript" FOR="XMLfile" EVENT="XMLdown(lFile)">
	if(lFile != "" ) {
		document.forms[0].outXMLcontent.value=lFile;
		document.title=lFile;
	}
</script>
<script LANGUAGE="JScript" FOR="XMLfile" EVENT="XMLupdate(lFile)">
	if(lFile != "" ) {
		bxfXmlDisplay(lFile);
	}
</script>
</body>
</html>

<script>
		//증명서 명 셋팅, 현재날짜 셋팅
		function pad(n, width) {
			n = n.toString();//string 변환
			return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
		}

		var date = new Date();
		$('#acceptDate').val(
			date.getFullYear()+'-'+
			pad(date.getMonth(),2)+'-'+
			pad(date.getDate(),2)
		);
	</script>
	
<% include ../SC_import.ejs %>