<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv=content-type>
<meta name=generator content="mshtml 8.00.6001.18852">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title> graduate </title>
<link rel="shortcut icon" href="http://www.3ksoftware.com/favicon.ico"/>
<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/soaxml_webformReset.css" rel="stylesheet"  media="screen"/>
<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/uniform.default.css" rel="stylesheet" media="screen" />
<link type="text/css" href="http://www.uccxml.com/xdrp/baseXML/lib/css/jquery-ui.1.10.3.smoothness.css" rel="stylesheet" media="screen" />

<link type="text/css" href="http://220.76.95.91:3000/public/vendor/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link type="text/css" href="http://220.76.95.91:3000/public/css/sm-admin.css" rel="stylesheet"/>
<link type="text/css" href="http://220.76.95.91:3000/public/css/md-admin.css" rel="stylesheet" media="screen and (min-width: 768px)" />
<link type="text/css" href="http://220.76.95.91:3000/public/css/lg-admin.css" rel="stylesheet" media="screen and (min-width: 1240px)" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR&display=swap&subset=korean" rel="stylesheet" />

<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxControl.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxCommon.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery-ui.1.10.3.min.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery.uniform.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jquery.timepicker.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/jSignature.custom.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){
		$("input, textarea, select, button").uniform();
			$( ".bxTimePicker" ).timepicker({ 'scrollDefaultNow': true });
		});
</script>
<script type="text/javascript">
	function basexml_checktype() {
	}
</script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/baseXML/lib/scripts/bxFormForMongo.js"></script>
</head>

<body class="certificate-body">
<form name="graduate">
	<textarea id="calXMLcontent" name="calXMLcontent" style="display:none"></textarea>
	<textarea id="inXMLcontent" name="inXMLcontent" style="display:none"></textarea>
	<textarea id="calTextcontent" name="calTextcontent" style="display:none"></textarea>
	<textarea id="outXMLcontent" name="outXMLcontent" style="display:none"></textarea>
	<textarea id="outXMLurl" name="outXMLurl" style="display:none"></textarea>
	<input type="hidden" name="xmlFileLink" id="xmlFileLink" value=""/>
	<input type="hidden" name="title" id="title" value="graduate"/>
	<input type="hidden" name="savefilepath" value="">
	<input type="hidden" name="imagesavepath" value="">
	<input type="hidden" name="imagematchinfo" value="">
	<input type="hidden" name="H_DownloadFilePath" value="">
	<input type="hidden" name="DownloadFilePath" value="">
	<input type="hidden" name="H_root/contents/name" value=""/>
	<input type="hidden" name="H_root/contents/registration_num" value=""/>
	<input type="hidden" name="H_root/contents/department/major" value=""/>
	<input type="hidden" name="H_root/contents/degree" value=""/>
	<input type="hidden" name="H_root/contents/graduation_date" value=""/>
	<input type="hidden" name="H_root/contents/degree_num" value=""/>
	<input type="hidden" name="H_root/contents/date" value=""/>
	
	<div class="certificate-box" id="1">
		<div class="certificate-box-container">
			<div id="20190531_192027">
				<div class="certificate-box-header">
					졸 업 증 명 서
				</div>
				<div class="certificate-box-body">
					<div class="table-responsive">
						<table class="table-style3">
							<tr>
								<th>성명</th>
								<td><input readonly name=root/contents/name value="<%=user.user_name%>"></td>
							</tr>
							<tr>
								<th>주민등록번호</th>
								<td><input readonly name=root/contents/registration_num value="<%=user.user_birth%>"></td>
							</tr>
							<tr>
								<th>학과/전공</th>
								<td><input readonly name=root/contents/department/major value="<%=user.major%>"></td>
							</tr>
							<tr>
								<th>학위</th>
								<td><input readonly name=root/contents/degree value='학사'></td>
							</tr>
							<tr>
								<th>졸업일자</th>
								<td><input readonly name=root/contents/graduation_date value='2019-02'></td>
							</tr>
							<tr>
								<th>학위등록번호</th>
								<td><input readonly name=root/contents/degree_num value="1882-1호"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="certificate-box-footer">
					<p class="certificate-txt">위의 사실을 증명 합니다.</p>
					<p class="certificate-date"><input class=inputs readonly  name=root/contents/date id="acceptDate"></p>
					<div class="certificate-sign">
						<strong>3K 대학교 총장</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-wrap">
			<div class="button-blue"><input type="button" value="발급" onclick="certiAccept(<%=txInfo.seq%>, '<%=txInfo.file_name%>');" /></div>
			<!-- <input type="button" value="List" onclick="javascript:bxfXmlListMongodb();" /> &#160;
			<input type="button" value="Search" onclick="javascript:bxfXmlSearchMongodb();" /> -->
		</div>
	</div>
</form>


<script type="text/javascript" src="http://www.uccxml.com/xdrp/sys/lib/bxComponent/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="http://www.uccxml.com/xdrp/sys/lib/bxComponent/bxComponent.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		loaded('/accounts/graduate.xml');
	});
</script>
<script LANGUAGE="JavaScript" FOR="XMLfile" EVENT="XMLdown(lFile)">
	if(lFile != "" ) {
		document.forms[0].outXMLcontent.value=lFile;
		document.title=lFile;
	}
</script>
<script LANGUAGE="JScript" FOR="XMLfile" EVENT="XMLupdate(lFile)">
	if(lFile != "" ) {
		bxfXmlDisplay(lFile);
	}
</script>

</body>
</html>

<script>
		//증명서 명 셋팅, 현재날짜 셋팅
	function pad(n, width) {
		n = n.toString();//string 변환
		return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
	}

	var date = new Date();
	$('#acceptDate').val(
		date.getFullYear()+'-'+
		pad(date.getMonth()+1,2)+'-'+
		pad(date.getDate(),2)
	);
</script>
<% include ../SC_import.ejs %>