<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>트랜젝션 상세</title>

<!-- CSS -->
<style>
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
width: 30em;
padding: 1em;
}

.myForm * {
box-sizing: border-box;
}

.myForm label {
padding: 0;
font-weight: bold;
text-align: right;
display: block;
}

.myForm input,
.myForm select,
.myForm textarea {
margin-left: 2em;
float: right;
width: 20em;
border: 1px solid #ccc;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.3em;
}

.myForm textarea {
height: 100px;
}

.myForm button {
padding: 1em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
margin-left: 14em;
margin-top: 1.8em;
}

.myForm button:hover {
background: #ccc;
cursor: pointer;
}
</style>

</head>
<body>

<form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">

<p>
<label>transactionHash 
<input type="text" name="transactionHash"  value="<%=txInfo.hash%>" readonly>
</label> 
</p>

<p>
<label>blockNumber 
<input type="text" name="blockNumber" value="<%=txInfo.blockNumber%>" readonly>
</label>
</p>

<p>
<label>blockHash 
<input type="text" name="blockHash" value="<%=txInfo.blockHash%>" readonly>
</label> 
</p>

<p>
<label>from 
<input type="text" name="from" value="<%=txInfo.from%>" readonly>
</label>
</p>

<p>
<label>to 
<input type="text" name="to" value="<%=txInfo.to%>" readonly>
</label> 
</p>

<p>
<label>nonce 
<input type="text" name="nonce" value="<%=txInfo.nonce%>" readonly>
</label>
</p>

<p>
<label>value 
<input type="text" name="value" value="<%=txInfo.value%>" readonly>
</label>
</p>

<p>
<label>gas 
<input type="text" name="gas" value="<%=txInfo.gas%>" readonly>
</label>
</p>

<p>
<label>gasPrice 
<input type="text" name="gasPrice" value="<%=txInfo.gasPrice%>" readonly>
</label>
</p>
</form>

</body>
</html>