<% include ../header.ejs %>

<div class="breadcrumb">
	<ul>
		<li><span>HOME</span></li>
		<li><span>승인내역</span></li>
	</ul>
</div>
<h3 class="title">승인내역</h3>

<div class="table-responsive">
	<table class="table-style" id="dataTable" width="100%" cellspacing="0">
		<thead>
			<tr align="center">
				<th width="2%" class="d-none d-lg-th">번호</th>
				<th width="8%">구분</th>
				<th width="10%">접수 트랜젝션</th>
				<!-- <th width="10%">승인 트랜젝션</th> -->
				<th width="8%">신청시간</th>
				<th width="8%">승인시간</th>
				<th width="5%">신청</th>
				<th width="6%">증명서</th>
				<!-- <th width="5%">view</th> -->
				<!-- <th width="1%">GasPrice</th> -->
			</tr>
		</thead>
		<!-- <tfoot>
                <tr align="center">
                    <th>번호</th>
                    <th>증명서</th>
                    <th>접수</th>
                    <th>승인</th>
                    <th>시간</th>
                    <th>신청</th>
                    <th>view</th>
                </tr>
            </tfoot> -->
		<tbody>
			<% requestdetail.forEach(function(requestdetail){ %>
			<tr>
				<td class="d-none d-lg-td"><%= requestdetail.seq %></td>

				<td>
					<!-- <a href="/accounts/transaction.id %>"> -->
					<span class="point-blue2"><%= requestdetail.form_name %>증명서 신청</span>
				</td>
				<td>
					<!-- <a href='http://ropsten.etherscan.io/tx/<%=requestdetail.fee_tx%>'><%= requestdetail.fee_tx %></a> -->
					<a onclick="window.open('txHashPop/<%=requestdetail.seq%>','_blank', 'height=490, width=1000; return false;')">트렌젝션처리 보기</a>
				</td>
				<!-- <td> -->
				<!-- <a href='http://ropsten.etherscan.io/tx/<%=requestdetail.fee_tx%>'><%= requestdetail.fee_tx %></a> -->
				<!-- <a onclick="window.open('getTransaction/<%=requestdetail.accept_tx%>','팝업창', 'height=450, width=400; return false;')" ><%= requestdetail.accept_tx %></a>
                    </td> -->
				<!-- <td>
                        <a href='http://ropsten.etherscan.io/tx/<%=requestdetail.accept_tx%>'><%= requestdetail.accept_tx %></a>
                    </td> -->
				<!-- <td>
                        <a onclick=txpop('<%= requestdetail.fee_tx %>');><%= requestdetail.fee_tx %></a>
                    </td> -->
				<!-- <td>
                        <a onclick=""><%= requestdetail.accept_tx %></a>
                    </td> -->

				<td>
					<%=requestdetail.getCreatedTime.year%> <%=requestdetail.getCreatedTime.month%> <%=requestdetail.getCreatedTime.day %> <%=requestdetail.getCreatedTime.hour%> <%=requestdetail.getCreatedTime.minute%>
					<!-- <%=requestdetail.getCreatedTime.second%> -->
				</td>
				<td>
					<%=requestdetail.getAcceptTime.year%> <%=requestdetail.getAcceptTime.month%> <%=requestdetail.getAcceptTime.day %> <%=requestdetail.getAcceptTime.hour%> <%=requestdetail.getAcceptTime.minute%>
					<!-- <%=requestdetail.getAcceptTime.second%> -->
				</td>

				<% if (requestdetail.fee_yn=='N'){ %>
				<td>
					<input class="btn btn-sm btn-border btn-sky" type="button" value="납부" onclick="sendFee(<%=requestdetail.seq%>)" />
				</td>
				<%}else if(requestdetail.fee_yn=='Y'&& requestdetail.accept_yn=='N'&& requestdetail.certi_yn=='N' && requestdetail.reject_yn=='N'){%>
					<td>승인중</td>
				<%}else if(requestdetail.fee_yn=='Y'&& requestdetail.accept_yn=='Y'&& requestdetail.certi_yn=='N'){%>
					<td>발급중</td>
				<%}else if(requestdetail.reject_yn=='Y'){%>
					<td>반려</td>>
				<%}else{%>
					<td>완료</td>	
				<%}%>
				<!-- 증명서 시작 -->
				<% if (requestdetail.certi_yn=='N' && requestdetail.reject_yn=='N'&& requestdetail.fee_yn=='Y'){ %>
				<td></td>
				<%}else if(requestdetail.certi_yn=='Y'){%>
				<td>
					<!-- <a href="/accounts/transaction.id %>"> -->
					<a class="btn btn-link-arrow" onclick="window.open('http://220.76.95.91:8080/ipfs/<%=requestdetail.certi_ipfs%>','팝업창', 'height=700, width=500; return false;')">보기</a>

				</td>
				<%}else{%>
					<td></td>
				<%}%>

			</tr>
			<% }); %>
		</tbody>
	</table>
</div>

<div class="pagination-wrap">
	<ul class="pagination">
		<li class="pagination-prev">
			<a href="<%= paginate.href(true) %>" aria-label="Previous"></a>
		</li>
		<% pages.forEach(function(page){ %>
		<li class="<%= paginate.page == page.number ? 'active' : ''%>">
			<a href="<%= page.url %>"><%= page.number %></a>
		</li>
		<%})%> <%if(paginate.hasNextPages(pageCount)){%>
		<li class="pagination-next">
			<a href="<%= paginate.href() %>"></a>
		</li>
		<%}%>
	</ul>
</div>



<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
    var $masonry_container = $('#masonry_container');
    $masonry_container.imagesLoaded(function(){
      $masonry_container.masonry({
        itemSelector : '.masonry-grid',
        columnWidth : 270
      });
    });
</script>

<!-- 사용자 정보 받아오기 user_id, blockChainid, blockChainpw -->
<input type="hidden" id='user_id' value="<%=user.user_id%>"></input> <input type="hidden" id='name' value="<%= user.user_name %>"></input> <input type="hidden" id='blockchainpwd' value="<%= user.blockchainpwd %>"></input> <input type="hidden" id='blockchainid' value="<%= user.blockchainid %>"></input>

<!-- 사용자 정보 받아오기 user_id, blockChainid, blockChainpw -->

<% include ../SC_import.ejs %>
<% include ../footer.ejs %>