<% include ../member-header.ejs %>

<div class="member">
	<div class="page-logo"><span class="sr-only">3K 대학교 블록체인 기반의 인터넷증명발급센터</span></div>
	<h4 class="tit-line"><span>내정보</span></h4>
	
	<form role="form" action="" id="join_form" method="post" onsubmit="return check();">
		<fieldset>
		    
		    <div class="form-group">
		        <label>학번</label>
		        <input class="form-control" placeholder="학번" name="user_id" readonly type="text" value="<%= user.user_id %>" autofocus="" required="">
		    </div>
		    <div class="form-group">
		        <label>비밀번호</label>
		        <input class="form-control" placeholder="Password" name="password" type="password" value="<%= user.password %>" required="">
		    </div>
		    <div class="form-group">
		        <label>비밀번호 확인</label>
		        <input class="form-control" placeholder="Password 확인" name="password2" type="password" value="<%= user.password %>" required="">
		    </div>
		    
		    <div class="form-group">
		        <label>이름</label>
		        <input class="form-control" id="onlyHangul" placeholder="user_name" name="user_name" type="text" value="<%= user.user_name %>" autofocus="" required="">
		    </div>
		    <div class="form-group">
		        <label>생년월일</label>
		        <input class="form-control" id="user_birth" placeholder="user_birth" name="user_birth" type="text" value="<%= user.user_birth %>" autofocus="" required="">
		    </div>
		    <div class="form-group">
		        <label>전공</label>
		        <input class="form-control" placeholder="전공" name="major" type="text" value="<%= user.major %>" required="" readonly>
		    </div>
		    <div class="form-group">
		        <label>블록체인 ID</label>
		        <input class="form-control" placeholder="블록체인 아이디" name="blockchainid" readonly type="text" value="<%= user.blockchainid %>" required="">
		    </div>
		    <!-- <div class="form-group">
		        <label>블록체인 비밀번호</label>
		        <input class="form-control" placeholder="블록체인 비밀번호" name="blockchainpwd" readonly type="password" value="<%= user.blockchainpwd %>" required="">
		    </div> -->
		    
		    <!-- <div class="form-group">
		        <label>Phone Number</label>
		        <input class="form-control" id="onlyNumber" placeholder="user_phone" name="user_phone" type="text" value="<%= user.user_phone %>" required="">
		    </div>
		    <div class="form-group">
		        <select name="user_sex" class="form-control" >
		            <%  var tmp = user.user_sex;
		                if(tmp === "M") { %>
		                <option value="M">M</option>
		                <option value="F">F</option>
		            <% }else{ %> 
		                <option value="F">F</option>
		                <option value="M">M</option>
		            <% } %> 
		        </select>
		    </div>
		    <div class="form-group">
		        <label>생일</label>
		        <input type="date" name="user_birth" class="form-control" value="<%= user.user_birth %>">
		    </div>
		    <div class="form-group">
		        <label>E-Mail</label>
		        <input class="form-control" placeholder="E-Mail" name="user_email" type="email" value="<%= user.user_email %>" autofocus="" required="">
		    </div>
		    <div class="form-group">
		        <label>주소</label>
		        <input class="form-control" placeholder="address" name="user_addr" type="text" value="<%= user.user_addr %>" readonly value="" required="">
		    </div>
		    <div class="form-group">
		        <label>상세 주소</label>
		        <input class="form-control" placeholder="detail_address" name="user_addr2" type="text" value="<%= user.user_addr2 %>" required="">
		    </div>
		    <div class="form-group">
		        <input class="form-control" id="onlyNumber" placeholder="user_post" name="user_post" type="text" value="<%= user.user_post %>" required="">
		        <span style="margin-top:10px" class="btn btn-primary" onclick="setDaumPostcode()">우편번호 찾기</span>
		    </div> -->
		    
		    <div class="btn-wrap btn-flex">
		    	<a onclick="javascript:cancelFunc()" class="btn btn-lg btn-gray">취소하기</a>
		    	<input type="submit" class="btn btn-lg btn-success" value="수정하기">
		    </div>
		    <!--
		    <div style="margin-top: 10px">
		        <a href="/auth/facebook" class="btn btn-lg btn-primary btn-block">
		        <i class="fa fa-facebook" aria-hidden="true"></i> 페이스북 회원수정
		        </a>
		    </div>
		    -->
		    </fieldset>
		</form>
</div>


<script type="text/javascript">
(function(){
    $(document).ready(function() {
        $('#join_form').submit(function(){
            var $usernameInput = $('#join_form input[name=user_id]');
            var $passwordInput = $('#join_form input[name=password]');
            var $passwordInput2 = $('#join_form input[name=password2]');
            var $major = $('#join_form input[name=major]');

            if(!$usernameInput.val()){
                alert("아이디를 입력해주세요.");
                $usernameInput.focus();
                return false;
            }
            if(!$passwordInput.val()){
                alert("패스워드를 입력해주세요.");
                $passwordInput.focus();
                return false;
            }
            if(!$passwordInput2.val()){
                alert("확인 패스워드를 입력해주세요.");
                $passwordInput2.focus();
                return false;
            }
            if(!$major.val()){
                alert("전공을 입력해주세요.");
                $major.focus();
                return false;
            }
            if($passwordInput.val() !== $passwordInput2.val()){
                alert("패스워드와 확인용패스워드를 똑같이 입력해주세요.");
                return false;
            }
            return true;
        });
    });
})();

function cancelFunc(){
	if(confirm('작성을 취소하겠습니까?')){
		location.href='/';
	}
}
function check(){
	var confirmYn = confirm('저장을 하겠습니까?');
	return confirmYn;
}
</script>

<% include ../member-footer.ejs %>