<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>3K대학교 증명정보시스템</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="3K대학교 증명정보시스템 홈페이지 입니다." />
<meta name="theme-color" content="#0b4e92">
<meta name="msapplication-navbutton-color" content="#0b4e92">
<meta name="msapplication-TileColor" content="#0b4e92">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta property="og:title" content="3K대학교 증명정보시스템">
<meta property="og:description" content="3K대학교 증명정보시스템 홈페이지 입니다.">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="3K대학교 증명정보시스템">
<meta name="twitter:description" content="3K대학교 증명정보시스템 홈페이지 입니다.">

<!-- favicon -->
<link rel="apple-touch-startup-image" href="/public/favicon/android-icon-192x192.png">
<link rel="apple-touch-icon" sizes="57x57" href="/public/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/public/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/public/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/public/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/public/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/public/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/public/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="/public/favicon/favicon.ico">
<link rel="manifest" href="/public/favicon/manifest.json">
<meta property="og:image" content="/public/favicon/android-icon-192x192.png">
<meta name="twitter:image" content="/public/favicon/android-icon-192x192.png">
<meta name="msapplication-TileImage" content="/public/favicon/android-icon-192x192.png">

<!-- CSS -->
<link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/sm.css">
<link rel="stylesheet" href="/public/css/md.css" media="screen and (min-width: 768px)">
<link rel="stylesheet" href="/public/css/lg.css" media="screen and (min-width: 1240px)">

<!-- JS -->
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/script.js"></script>
<!-- 장바구니 담기 공통모듈 -->
<!-- <script type="text/javascript" src="/static/common.js"></script> -->
<script src="../EAO/web3.js"></script>	
<!-- <script src="../EAO/web3.jb.js"></script> -->

<script>
function comma(str) {
    str = String(str);
    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
}
</script>
</head>

<body class="popup-body">

<div class="popup-box">
	<div class="popup-box-header">
		<h4>MY WALLET</h4>
	</div>
	<div class="popup-box-body">
		<form role="form" action="" id="join_form" method="post">
			<fieldset>
				<div class="form-group">
					<label>학번</label>
					<input class="form-control" placeholder="학번" name="user_id" readonly type="text" value="<%= user.user_id %>" autofocus required>
				</div>
				<div class="form-group">
					<label>이름</label>
					<input class="form-control" id="onlyHangul" placeholder="user_name" name="user_name" readonly type="text" value="<%= user.user_name %>" autofocus required>
				</div>
				<div class="form-group">
					<label>전공</label>
					<input class="form-control" placeholder="전공" name="major" readonly type="text" value="<%= user.major %>" required>
				</div>
				<div class="form-group">
					<label>블록체인 ID</label>
					<input class="form-control" placeholder="블록체인 ID" id="blockchainid" name="blockchainid" readonly type="text" value="<%= user.blockchainid %>" required>
				</div>
				<label class="form-control-label">블록체인 PASSWORD</label>
				<div class="input-group mb-05 mb-lg-10">
					<input class="form-control" placeholder="블록체인 PASSWORD" id="blockchainpwd" name="blockchainpwd" readonly type="password" value="<%= user.blockchainpwd %>" required>
					<div class="input-group-append">
						<input type="button" class="btn btn-md btn-sky" onclick="login();" value="블록체인 계정인증"></input>
						<h2 id="instructor"></h2>	
					</div>
				</div>
				<div class="form-group"> 
					<label>Ether 잔고</label>
					<!-- <input class="form-control" id="onlyHangul" placeholder="Ether 잔고" name="cur_balance" readonly type="text" value="<%= user.cur_balance %>" autofocus="" required=""> -->
					<input class="form-control" id="onlyHangul" placeholder="Ether 잔고" name="cur_balance" readonly type="text" value="<%= balance %>" autofocus required>
				</div>
				<div class="form-control-label mt-30 mt-lg-40">내 증명서</div>		
				<div class="btn-wrap btn-flex num-3" style="margin-top:0;">					
					<% if(certiData.graduate_yn=='Y'){%>
					<input type="button" class="btn btn-md btn-blue2" onclick="window.open('http://220.76.95.91:8080/ipfs/<%=certiData.graduate_ipfs %>', '_blank', 'width=450,height=620'); return false" value="졸업 증명서">
					</input>
					<%}if(certiData.attend_yn=='Y'){%>
					<input type="button" class="btn btn-md btn-blue3" onclick="window.open('http://220.76.95.91:8080/ipfs/<%=certiData.attend_ipfs %>', '_blank', 'width=450,height=600'); return false" value="재학 증명서">
					</input>
					<%}if(certiData.score_yn=='Y'){%>
					<input type="button" class="btn btn-md btn-blue4" onclick="window.open('http://220.76.95.91:8080/ipfs/<%=certiData.score_ipfs %>', '_blank', 'width=450,height=600'); return false" value="성적 증명서">
					</input>
					<%}%>
					<!-- <h2 id="instructor"></h2> --> 
				</div>
			</fieldset>
		</form>
	</div>
</div>

<script type="text/javascript">
// var url = "http://220.76.95.91:8546"; // 서버 URL
var url = "http://220.76.95.91:8485"; // 서버 URL
    console.log(url);
    // var blockchainid;
    // console.log(blockchainid);
    var web3 = new Web3();
    var provider = new web3.providers.HttpProvider(url); // 블록체인 노드접속
    web3.setProvider(provider);
    
       
    // web3.eth.defaultAccount = web3.eth.accounts[1];
    web3.eth.defaultAccount = web3.eth.accounts[blockchainid];
    var ABI = [{"constant":false,"inputs":[{"name":"_contractFile","type":"string"},{"name":"_contractHash","type":"bytes32"}],"name":"issue","outputs":[],"payable":false,"type":"function","stateMutability":"nonpayable"},{"constant":true,"inputs":[],"name":"getContracts","outputs":[{"name":"","type":"bytes32[]"}],"payable":false,"type":"function","stateMutability":"view"},{"constant":true,"inputs":[{"name":"_contractHash","type":"bytes32"}],"name":"getContract","outputs":[{"name":"","type":"address"},{"name":"","type":"string"},{"name":"","type":"bytes32"}],"payable":false,"type":"function","stateMutability":"view"}];
    // 연결할 Contract(CounterMaster) 주소 
    var master = web3.eth.contract(ABI).at("0x618CD4dCB28C6a93e55A95AFc66C6850E19648BE");
    var CounterAddressList = master.getCounterAddressList();

    // result = web3.eth.sendTransaction({
    //                         from : sender, 
    //                         to : receiver, 
    //                         value : web3.toWei(eth_cash, 'ether')});
    // var address = web3.eth.accounts[0];
    // var result2 = web3.eth.getTransaction(address); //트랜잭션 해쉬 받은 코드
    // var myethereum = web3.eth.fromWei(web3.eth.getBalance(address), 'ether');

    // alert(JSON.stringify(myethereum));
    // $("#myether").val(JSON.stringify(myethereum));


    // 로그인(Unlock)
    function login() {
        var blockchainid = $("#blockchainid").val();
        var blockchainpwd = $("#blockchainpwd").val();
        var JSONdata = createJSONdata("personal_unlockAccount", [ blockchainid, blockchainpwd, 30 ]);

        executeJsonRpc(url, JSONdata, function success(data) {
            //alert(data.error);
            // 로그인 성공
            if (data.error == null) {
                console.log("login success!");
                document.getElementById("instructor").innerHTML = "계정 인증성공";
            } else {
                // 로그인 실패
                console.log("login failure");
                document.getElementById("instructor").innerHTML = "계정 인증실패";
            }
            init();
        }, function error(data) {
            // 로그인 실패
            console.log("data receive failure");
            document.getElementById("instructor").innerHTML = "관리자에게 문의";
        });
    }


        // JSON 메시지 생성
function createJSONdata(method, params) {
    var JSONdata = {
        "id":8,
        "jsonrpc" : "2.0",
        "method" : method,
        "params" : params
        };
    return JSONdata;
}

// JSON-RPC 실행
function executeJsonRpc(url_exec, JSONdata, success, error) {
    $.ajax({
        type : 'post',
        url : url_exec,
        data : JSON.stringify(JSONdata),
        contentType : 'application/JSON',
        dataType : 'JSON',
        scriptCharset : 'utf-8',
        //scriptCharset : 'euc-kr',
        success : function(data) {
            //alert(data);
            //alert(data.code);
            //alert(data.result);
            success(data);
        },
        error : function(data) {
            error(data);
        }
    });
}

// JSON-RPC 실행
function checkTrResult(hashVal) {
    //var JSONdata = createJSONdata("eth_getTransactionByHash", ["0x9faa7817dd5e926a5fec6adecc3d73d4dc1f3d97d7b8278786aa794646d8c974"]);
    var JSONdata = createJSONdata("eth_getTransactionByHash", [hashVal]);
    executeJsonRpc(url, JSONdata, function success(data) {
        //alert(data.error);
        // 로그인 성공
        if (data.error == null) {
            //alert(data);
            //alert(data.result.blockNumber);ccc
            var rst = parseInt(data.result.blockNumber, 16);
            //alert(rst);
            ///return rst;
            console.log("Result Check success!");
        } else {
            // 로그인 실패
            console.log("Result Check error1111");
        }
        //init();
    }, function error(data) {
        // 로그인 실패ccc
        console.log("Result Check error222");
    });
}

// JSON-RPC 실행
function checkTrResultDisp() {
    //var JSONdata = createJSONdata("eth_getTransactionByHash", ["0x9faa7817dd5e926a5fec6adecc3d73d4dc1f3d97d7b8278786aa794646d8c974"]);
    var JSONdata = createJSONdata("eth_getTransactionByHash", [document.getElementById("trHash").value]);
    executeJsonRpc(url, JSONdata, function success(data) {
        //alert(data.error);
        // 로그인 성공
        if (data.error == null) {
            //alert(data);
            //alert(data.result.blockNumber);
            var rst = parseInt(data.result.blockNumber, 16);
            //alert(rst);
            ///return rst;
            console.log("Result Check success!");
        } else {
            // 로그인 실패
            console.log("Result Check error1111");
        }
        //init();
    }, function error(data) {
        // 로그인 실패ccc
        console.log("Result Check error222");
    });
}
</script>

</body>
</html>